Node-RED/Module-3_Node-RED_Flow.json
[{"id":"1f8efb1f.860595","type":"mqtt in","z":"835ce7c9.f830e8","name":"Raspberry Pi Sensor Data","topic":"SNHU/IT697/sensor/data/json","qos":"2","broker":"a2493095.943b1","x":310,"y":580,"wires":[["ef7929ff.fc2908","1dc97442.f8ca6c"]]},{"id":"ef7929ff.fc2908","type":"debug","z":"835ce7c9.f830e8","name":"","active":false,"console":"false","complete":"payload","x":550,"y":500,"wires":[]},{"id":"91d61b06.6fde78","type":"iot-datasource","z":"835ce7c9.f830e8","name":"Raspberry Pi Sensor Data","tstampField":"timestamp","dataField":"","disableDiscover":false,"x":850,"y":380,"wires":[[]]},{"id":"1dc97442.f8ca6c","type":"json","z":"835ce7c9.f830e8","name":"","pretty":false,"x":570,"y":580,"wires":[["91d61b06.6fde78","782eec2e.5aabd4","4fbf8b17.b65be4","c6456c60.4feb6","9371f401.745128","f8315e33.aa196"]]},{"id":"782eec2e.5aabd4","type":"function","z":"835ce7c9.f830e8","name":"Convert Payload To Provide Temperature C and F","func":"// Convert the payload as follows:\n//   1. Delete all non temperature data points.\n//   2. Convert temp from C to F.\n//\n// Sample payload\n// {\"timestamp\": 1519609945872, \"data\": {\"range\": 511, \"degrees\": 222.0, \"temperature\": 19.0, \"humidity\": 47.0}}\n\ntemperature = msg.payload.data.temperature\n\nfor (var key in msg.payload.data) {\n    //if (key !== \"temperature\")\n    delete msg.payload.data[key];\n}\n\nmsg.payload.data.temperature_c = temperature.toFixed(1);\nmsg.payload.data.temperature_f = (temperature * 9 / 5 + 32).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":460,"wires":[["e167110c.910f4","da9e863c.a49668"]]},{"id":"e167110c.910f4","type":"iot-datasource","z":"835ce7c9.f830e8","name":"Temperature","tstampField":"timestamp","dataField":"","disableDiscover":false,"x":1190,"y":440,"wires":[[]]},{"id":"da9e863c.a49668","type":"debug","z":"835ce7c9.f830e8","name":"","active":false,"console":"false","complete":"false","x":1190,"y":500,"wires":[]},{"id":"4fbf8b17.b65be4","type":"debug","z":"835ce7c9.f830e8","name":"","active":false,"console":"false","complete":"false","x":810,"y":320,"wires":[]},{"id":"c6456c60.4feb6","type":"function","z":"835ce7c9.f830e8","name":"Calculate Dew Point","func":"// Convert the payload as follows:\n//   1. Delete all non temperature data points.\n//   2. Convert temp from C to F.\n//\n// Sample payload\n// {\"timestamp\": 1519609945872, \"data\": {\"range\": 511, \"degrees\": 222.0, \"temperature\": 19.0, \"humidity\": 47.0}}\n\ntemperature = msg.payload.data.temperature;\nhumidity = msg.payload.data.humidity;\n\nfor (var key in msg.payload.data) {\n    delete msg.payload.data[key];\n}\n\ndewpointc = temperature - ( 100 - humidity ) / 5;\ndewpointf = dewpointc * 9 / 5 + 32;\n\nmsg.payload.data.dewpoint_c = dewpointc.toFixed(1);\nmsg.payload.data.dewpoint_f = dewpointf.toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":580,"wires":[["150a2a55.95ce16","a9878b8d.f6fc08"]]},{"id":"150a2a55.95ce16","type":"debug","z":"835ce7c9.f830e8","name":"","active":false,"console":"false","complete":"false","x":1190,"y":620,"wires":[]},{"id":"a9878b8d.f6fc08","type":"iot-datasource","z":"835ce7c9.f830e8","name":"Dew Point","tstampField":"timestamp","dataField":"","disableDiscover":false,"x":1190,"y":560,"wires":[[]]},{"id":"9371f401.745128","type":"function","z":"835ce7c9.f830e8","name":"Determine Temp Alert State","func":"\ntemperature = msg.payload.data.temperature;\n\nfor (var key in msg.payload.data) {\n    delete msg.payload.data[key];\n}\n\nif (temperature >= 21) {\n    alert = \"not-ok\";\n} else {\n    alert = \"ok\";\n}\n\nmsg.payload.data.type = alert;\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":700,"wires":[["90aa5654.39c1c8","bdc53c9.e941dc"]]},{"id":"90aa5654.39c1c8","type":"iot-datasource","z":"835ce7c9.f830e8","name":"Temperature Alert","tstampField":"timestamp","dataField":"","disableDiscover":false,"x":1210,"y":680,"wires":[[]]},{"id":"bdc53c9.e941dc","type":"debug","z":"835ce7c9.f830e8","name":"","active":false,"console":"false","complete":"false","x":1190,"y":740,"wires":[]},{"id":"f8315e33.aa196","type":"function","z":"835ce7c9.f830e8","name":"Determine Humidity Alert State","func":"\nhumidity = msg.payload.data.humidity;\n\nfor (var key in msg.payload.data) {\n    delete msg.payload.data[key];\n}\n\nif (humidity > 80) {\n    alert = \"not-ok\";\n} else {\n    alert = \"ok\";\n}\n\nmsg.payload.data.type = alert;\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":840,"wires":[["26b01553.0f162a","9435b04d.7be49"]]},{"id":"26b01553.0f162a","type":"iot-datasource","z":"835ce7c9.f830e8","name":"Humidity Alert","tstampField":"timestamp","dataField":"","disableDiscover":false,"x":1200,"y":820,"wires":[[]]},{"id":"9435b04d.7be49","type":"debug","z":"835ce7c9.f830e8","name":"","active":false,"console":"false","complete":"false","x":1190,"y":880,"wires":[]},{"id":"a2493095.943b1","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]