Node-RED/Module-4_Node-RED_Flow_LED_Combined.json
[{"id":"92a47ed4.43ec8","type":"inject","z":"8100f3d6.70544","name":"BLUE LED OFF","topic":"SNHU/IT697/leds","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":1120,"y":740,"wires":[["fb16df5b.8781e"]]},{"id":"a02f0d5d.6aa91","type":"inject","z":"8100f3d6.70544","name":"BLUE LED ON","topic":"SNHU/IT697/leds","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"x":1120,"y":820,"wires":[["fb16df5b.8781e"]]},{"id":"b23552bc.1f5f9","type":"function","z":"8100f3d6.70544","name":"Blue LED","func":"// preserve the blue led state\nvar leds = global.get('leds')||{};\nleds.blue = msg.payload;\nglobal.set('leds', leds);\n// set the msg.payload to indicate the blue led\nmsg.payload = {blue: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":720,"wires":[["ba4086ed.a95d48","ce5fc2f9.7a5c5"]]},{"id":"ba4086ed.a95d48","type":"debug","z":"8100f3d6.70544","name":"","active":false,"console":"false","complete":"false","x":1790,"y":780,"wires":[]},{"id":"fb16df5b.8781e","type":"ui_slider","z":"8100f3d6.70544","tab":"7751a8fa.d8f608","name":"Blue LED Control","topic":"SNHU/IT697/leds","group":"LED Control","order":"3","min":0,"max":"255","x":1370,"y":720,"wires":[["b23552bc.1f5f9","d7cfbb98.aaefc8"]]},{"id":"46a90a3.061bcf4","type":"http in","z":"8100f3d6.70544","name":"Set LEDs","url":"/leds","method":"post","upload":false,"swaggerDoc":"","x":240,"y":440,"wires":[["507e8f90.cb083","2fe5a555.2d4b3a"]]},{"id":"2ee608ad.f38a08","type":"http in","z":"8100f3d6.70544","name":"Get LEDs","url":"/leds","method":"get","upload":false,"swaggerDoc":"","x":240,"y":540,"wires":[["6e8647d7.1237b8","d41f5efe.7a5dd"]]},{"id":"507e8f90.cb083","type":"function","z":"8100f3d6.70544","name":"Move Body to Payload","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":440,"wires":[["7d06513e.2bf7d","c4fbf764.d27968","e9ada54e.61a638","b2fc458a.1a7ae8","634aca6b.7dd584"]]},{"id":"6e8647d7.1237b8","type":"function","z":"8100f3d6.70544","name":"Get LED State","func":"// get the global led state\nmsg.payload = global.get('leds')||{};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":540,"wires":[["c4fbf764.d27968","8eb54f77.50b92"]]},{"id":"7d06513e.2bf7d","type":"function","z":"8100f3d6.70544","name":"Extract Blue Value","func":"msg.payload = parseInt(msg.payload.blue);\nif (msg.payload !== null) {\n  return msg;\n}","outputs":1,"noerr":0,"x":1010,"y":620,"wires":[["fb16df5b.8781e","b51f4a20.074328"]]},{"id":"c4fbf764.d27968","type":"http response","z":"8100f3d6.70544","name":"","statusCode":"","headers":{},"x":710,"y":540,"wires":[]},{"id":"2fe5a555.2d4b3a","type":"debug","z":"8100f3d6.70544","name":"","active":false,"console":"false","complete":"false","x":570,"y":380,"wires":[]},{"id":"d41f5efe.7a5dd","type":"debug","z":"8100f3d6.70544","name":"","active":false,"console":"false","complete":"false","x":450,"y":640,"wires":[]},{"id":"e9ada54e.61a638","type":"debug","z":"8100f3d6.70544","name":"","active":false,"console":"false","complete":"false","x":990,"y":200,"wires":[]},{"id":"8eb54f77.50b92","type":"debug","z":"8100f3d6.70544","name":"","active":false,"console":"false","complete":"false","x":650,"y":640,"wires":[]},{"id":"b51f4a20.074328","type":"debug","z":"8100f3d6.70544","name":"","active":false,"console":"false","complete":"false","x":1350,"y":660,"wires":[]},{"id":"d7cfbb98.aaefc8","type":"debug","z":"8100f3d6.70544","name":"","active":false,"console":"false","complete":"false","x":1570,"y":660,"wires":[]},{"id":"7e7556fe.075d08","type":"inject","z":"8100f3d6.70544","name":"GREEN LED OFF","topic":"SNHU/IT697/leds","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":1130,"y":340,"wires":[["c84650a5.0b112"]]},{"id":"e50b3d87.22a89","type":"inject","z":"8100f3d6.70544","name":"GREEN LED ON","topic":"SNHU/IT697/leds","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"x":1120,"y":420,"wires":[["c84650a5.0b112"]]},{"id":"d19feb1d.26f5c8","type":"function","z":"8100f3d6.70544","name":"Green LED","func":"// preserve the green led state\nvar leds = global.get('leds')||{};\nleds.green = msg.payload;\nglobal.set('leds', leds);\n// set the msg.payload to indicate the green led\nmsg.payload = {green: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":460,"wires":[["a2f542ca.6bf72","ce5fc2f9.7a5c5"]]},{"id":"a2f542ca.6bf72","type":"debug","z":"8100f3d6.70544","name":"","active":false,"console":"false","complete":"false","x":1570,"y":600,"wires":[]},{"id":"c84650a5.0b112","type":"ui_slider","z":"8100f3d6.70544","tab":"7751a8fa.d8f608","name":"Green LED Control","topic":"SNHU/IT697/leds","group":"LED Control","order":"2","min":0,"max":"255","x":1370,"y":460,"wires":[["d19feb1d.26f5c8","6bf5e28a.75719c"]]},{"id":"6bf5e28a.75719c","type":"debug","z":"8100f3d6.70544","name":"","active":false,"console":"false","complete":"false","x":1570,"y":400,"wires":[]},{"id":"b2fc458a.1a7ae8","type":"function","z":"8100f3d6.70544","name":"Extract Red Value","func":"msg.payload = parseInt(msg.payload.red);\nif (msg.payload !== null) {\n  return msg;\n}","outputs":1,"noerr":0,"x":1010,"y":260,"wires":[["f905baa6.0cfba8","b8cab7ae.0b94c8"]]},{"id":"634aca6b.7dd584","type":"function","z":"8100f3d6.70544","name":"Extract Green Value","func":"msg.payload = parseInt(msg.payload.green);\nif (msg.payload !== null) {\n  return msg;\n}","outputs":1,"noerr":0,"x":1020,"y":520,"wires":[["c84650a5.0b112","2acd586c.8d08a8"]]},{"id":"2acd586c.8d08a8","type":"debug","z":"8100f3d6.70544","name":"","active":false,"console":"false","complete":"false","x":1350,"y":520,"wires":[]},{"id":"ab46801f.58d49","type":"inject","z":"8100f3d6.70544","name":"RED LED OFF","topic":"SNHU/IT697/leds","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":1120,"y":60,"wires":[["b8cab7ae.0b94c8"]]},{"id":"6ab5cc52.9da9b4","type":"inject","z":"8100f3d6.70544","name":"RED LED ON","topic":"SNHU/IT697/leds","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"x":1110,"y":120,"wires":[["b8cab7ae.0b94c8"]]},{"id":"299b76c8.60d68a","type":"function","z":"8100f3d6.70544","name":"Red LED","func":"// preserve the red led state\nif (msg.payload !== null) {\n    var leds = global.get('leds')||{};\n    leds.red = msg.payload;\n    global.set('leds', leds);\n    // set the msg.payload to indicate the red led\n    msg.payload = {red: msg.payload};\n    \n} else {\n    msg.payload = {red: leds.red};\n}\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":180,"wires":[["e213b4c7.9d2bf8","ce5fc2f9.7a5c5"]]},{"id":"e213b4c7.9d2bf8","type":"debug","z":"8100f3d6.70544","name":"","active":false,"console":"false","complete":"false","x":1770,"y":120,"wires":[]},{"id":"b8cab7ae.0b94c8","type":"ui_slider","z":"8100f3d6.70544","tab":"7751a8fa.d8f608","name":"Red LED Control","topic":"SNHU/IT697/leds","group":"LED Control","order":"1","min":0,"max":"255","x":1370,"y":180,"wires":[["299b76c8.60d68a","fe711953.c45188"]]},{"id":"fe711953.c45188","type":"debug","z":"8100f3d6.70544","name":"","active":false,"console":"false","complete":"false","x":1570,"y":120,"wires":[]},{"id":"f905baa6.0cfba8","type":"debug","z":"8100f3d6.70544","name":"","active":false,"console":"false","complete":"false","x":1350,"y":240,"wires":[]},{"id":"ce5fc2f9.7a5c5","type":"mqtt out","z":"8100f3d6.70544","name":"Raspberry Pi MQTT","topic":"SNHU/IT697/leds","qos":"","retain":"","broker":"a2493095.943b1","x":1840,"y":420,"wires":[]},{"id":"4b6566dd.77b808","type":"mqtt in","z":"8100f3d6.70544","name":"MQTT LED Control","topic":"SNHU/IT697/leds-Node-RED","qos":"2","broker":"a2493095.943b1","x":310,"y":920,"wires":[["6c20aef2.34a36","581ff711.669478"]]},{"id":"6c20aef2.34a36","type":"debug","z":"8100f3d6.70544","name":"","active":false,"console":"false","complete":"false","x":590,"y":920,"wires":[]},{"id":"581ff711.669478","type":"json","z":"8100f3d6.70544","name":"","pretty":false,"x":610,"y":820,"wires":[["7d06513e.2bf7d","d5f004f5.b9d0e8","634aca6b.7dd584","b2fc458a.1a7ae8"]]},{"id":"d5f004f5.b9d0e8","type":"debug","z":"8100f3d6.70544","name":"","active":false,"console":"false","complete":"false","x":830,"y":820,"wires":[]},{"id":"7751a8fa.d8f608","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"},{"id":"a2493095.943b1","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]