Node-RED/Module-7_Node-RED_Flow.json
[{"id":"2dd3c41c.3e5d6c","type":"inject","z":"9a09feb3.020a6","name":"","topic":"","payload":"Node-RED was here.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":40,"wires":[["8974ad75.37da"]]},{"id":"8974ad75.37da","type":"function","z":"9a09feb3.020a6","name":"Add Tasks Collection and Date","func":"msg.payload = {\n    _id: 1,\n    text: msg.payload,\n    createdAt: new Date()\n};\nmsg.collection = 'tasks';\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":40,"wires":[["2ae1958f.b840fa"]]},{"id":"2ae1958f.b840fa","type":"mongodb out","z":"9a09feb3.020a6","mongodb":"af06120e.ae986","name":"Generic Save to Local Meteor Database","collection":"","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1020,"y":160,"wires":[]},{"id":"87126e70.40b8a","type":"mqtt in","z":"9a09feb3.020a6","name":"Shared Sensor Data","topic":"SNHU/IT697/sensor/data/#","qos":"2","broker":"7d8c7f4b.2d1cb","x":140,"y":400,"wires":[["49707d89.3c1914","ef314327.043d3"]]},{"id":"5cf4c863.a1e968","type":"function","z":"9a09feb3.020a6","name":"Add sensors Collection","func":"msg.collection = \"sensors\";\nmsg.topicParts = msg.topic.split('/');\nmsg._id = msg.topicParts[msg.topicParts.length-1];\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":400,"wires":[["2ae1958f.b840fa","c7920ad.47401f8"]]},{"id":"49707d89.3c1914","type":"debug","z":"9a09feb3.020a6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":480,"wires":[]},{"id":"ef314327.043d3","type":"json","z":"9a09feb3.020a6","name":"","property":"payload","action":"","pretty":false,"x":350,"y":400,"wires":[["5cf4c863.a1e968","2baa4cbf.5b5384","e97f0a13.f23dc8"]]},{"id":"2baa4cbf.5b5384","type":"debug","z":"9a09feb3.020a6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":480,"wires":[]},{"id":"c7920ad.47401f8","type":"debug","z":"9a09feb3.020a6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":400,"wires":[]},{"id":"e97f0a13.f23dc8","type":"function","z":"9a09feb3.020a6","name":"Add sensorhistory collection","func":"msg.collection = \"sensorhistory\";\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":240,"wires":[["2ae1958f.b840fa","5db4ff19.59cd9"]]},{"id":"5db4ff19.59cd9","type":"debug","z":"9a09feb3.020a6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":160,"wires":[]},{"id":"af06120e.ae986","type":"mongodb","z":"","hostname":"127.0.0.1","port":"3001","db":"meteor","name":"Local Meteor Database"},{"id":"7d8c7f4b.2d1cb","type":"mqtt-broker","z":"","name":"Mosquitto Test Broker","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]