Node-RED/Weather_Station
[{"id":"1f8efb1f.860595","type":"mqtt in","z":"835ce7c9.f830e8","name":"Raspberry Pi Sensor Data","topic":"SNHU/IT697/sensor/data/json","qos":"2","broker":"a2493095.943b1","x":338,"y":308,"wires":[["ef7929ff.fc2908","1dc97442.f8ca6c"]]},{"id":"ef7929ff.fc2908","type":"debug","z":"835ce7c9.f830e8","name":"","active":false,"console":"false","complete":"payload","x":610,"y":280,"wires":[]},{"id":"91d61b06.6fde78","type":"iot-datasource","z":"835ce7c9.f830e8","name":"Raspberry Pi Sensor Data","tstampField":"timestamp","dataField":"","disableDiscover":false,"x":910,"y":320,"wires":[[]]},{"id":"1dc97442.f8ca6c","type":"json","z":"835ce7c9.f830e8","name":"","pretty":false,"x":590,"y":360,"wires":[["91d61b06.6fde78","782eec2e.5aabd4","4fbf8b17.b65be4","c6456c60.4feb6"]]},{"id":"782eec2e.5aabd4","type":"function","z":"835ce7c9.f830e8","name":"Convert Payload To Provide Temperature F","func":"// Convert the payload as follows:\n//   1. Delete all non temperature data points.\n//   2. Convert temp from C to F.\n//\n// Sample payload\n// {\"timestamp\": 1519609945872, \"data\": {\"range\": 511, \"degrees\": 222.0, \"temperature\": 19.0, \"humidity\": 47.0}}\n\nfor (var key in msg.payload.data) {\n    if (key !== \"temperature\") delete msg.payload.data[key];\n}\n\nmsg.payload.data.temperature = (msg.payload.data.temperature * 9 / 5 + 32).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":460,"wires":[["e167110c.910f4","da9e863c.a49668"]]},{"id":"e167110c.910f4","type":"iot-datasource","z":"835ce7c9.f830e8","name":"Temperature F","tstampField":"timestamp","dataField":"","disableDiscover":false,"x":1200,"y":440,"wires":[[]]},{"id":"da9e863c.a49668","type":"debug","z":"835ce7c9.f830e8","name":"","active":false,"console":"false","complete":"false","x":1190,"y":500,"wires":[]},{"id":"4fbf8b17.b65be4","type":"debug","z":"835ce7c9.f830e8","name":"","active":false,"console":"false","complete":"false","x":880,"y":373,"wires":[]},{"id":"c6456c60.4feb6","type":"function","z":"835ce7c9.f830e8","name":"Calculate Dew Point","func":"// Convert the payload as follows:\n//   1. Delete all non temperature data points.\n//   2. Convert temp from C to F.\n//\n// Sample payload\n// {\"timestamp\": 1519609945872, \"data\": {\"range\": 511, \"degrees\": 222.0, \"temperature\": 19.0, \"humidity\": 47.0}}\n\ntemperature = msg.payload.data.temperature;\nhumidity = msg.payload.data.humidity;\n\nfor (var key in msg.payload.data) {\n    delete msg.payload.data[key];\n}\n\ndewpointc = temperature - ( 100 - humidity ) / 5;\ndewpointf = dewpointc * 9 / 5 + 32;\n\nmsg.payload.data.dewpointc = dewpointc.toFixed(1);\nmsg.payload.data.dewpointf = dewpointf.toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":560,"wires":[["150a2a55.95ce16","a9878b8d.f6fc08"]]},{"id":"150a2a55.95ce16","type":"debug","z":"835ce7c9.f830e8","name":"","active":false,"console":"false","complete":"false","x":1050,"y":700,"wires":[]},{"id":"a9878b8d.f6fc08","type":"iot-datasource","z":"835ce7c9.f830e8","name":"Dew Point","tstampField":"timestamp","dataField":"","disableDiscover":false,"x":1090,"y":600,"wires":[[]]},{"id":"a2493095.943b1","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]